body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
}
table{
    border-collapse: collapse black;
    width: 100%;
    margin-top: 20px;
}
table,th,td{
    border: 3px solid #d2d2d2;

}
th{
    padding: 15px;
    text-align: center;
    background-color: green;
    font-size: 20px;
    font-weight: bold;

}
td{
   
    padding: 10px;
    text-align: center;
    font-size: 18px;
    color: rgb(31, 31, 67);
    font-weight: bold;
   
}
img{
    width: 100px;
    height: auto;
}
.highlight-orange{
    background-color:rgb(0, 255, 94);
}
.highlight-blue{
    background-color:rgb(25, 141, 161);
}
.dark{
    background-color: rgb(253, 236, 218);
}

